language: java
jdk: openjdk8

before_install: cp .travis.settings.xml $HOME/.m2/settings.xml

notifications:
  slack:
    rooms:
      secure: ZZAO7Wenqq1ltC4sHWlCcQDS7DKLdO3HJf4b2kAWmIeRx+8iDwVP7TqYa5hktKs/DJSDwDa1gX+EpvvWU6oGCGNqkHpnjz6dt4mp5gfD7JWgYmdxjB84NpJBRyTe0NBYZ1uIBhHLbKohL3P5eih75kafsrVKNjOtC5wtlNJZkrozheeE1NBEWlvCF/yMjSbb5CR+U6eHpVDtmxCANryTUzw8OdH84NTvzrTg5dgOO4jNFtXsgSqgg/l66wVmJR8mvl9pQTpIV0Ch7O0SewrLQ0L+09QZY0JmDKkrsz6IrIYJF6v2E9djLQ91Wd7UoIcwNU88fzzBywLiT3GnZ6Ru21bhENBJ2ovZUOYvuhFg4pDVoSitkCTKiP1i61iyOiMtmI84vqIWYV29Qt7lkWFWeXtmjxch7f7dVoRHhOae8LnhMpe9BqDsizgN1PCVTjJt2+unGltFwGA6iY/gmUv6RxuKJJCSSLiHeJMHO52PdfbqZ+KRJQ9RBZCJW0duTUlu4ihQwH3vYtQPVLwLxIf7VwCfrSYhprqaN4bgYC1/WW1KBeAwciQBgqkrm2GXs05SjWjN45eDLk7JRrYOI4A2pHM/vZ4k6oURu+AczKPp2j16GtiGRy5BhFF9EzWt/hJMqXk3+WS7D2ZKZ2/e25ODmRkm3l4IuwwAKeDIdxSWkZ4=
    on_failure: always
    on_success: never

cache:
  directories:
  - $HOME/.m2

branches:
    only:
        - master